* body {
  padding: 0;
  margin: 0;
}

/* Style the header */
.header {
  background-color: #00b3b3
  rgb(0, 179, 179)
  hsl(180, 100%, 35%);
  padding: 20px;
  text-align: center;
  }
  
h1 {
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  }

h2 {
  font-family:Georgia, 'Times New Roman', Times, serif;
  margin-left: 30px;
  color: black
}

p {font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 25px;
  color: black ;
  text-align: left;
  }

.btn{
  text-align: left;
  font-size: 25px;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

img{
  box-shadow: 10px 10px 5px black;
  }  

<<<<<<< HEAD
.btn {
  text-align: left;
  padding: 5px 38px;
  text-decoration: none;
  font-size: 18px;  
}
=======
#map {width: 800px; 
  height: 600px;
  padding: 20 px;
  margin: 40; }

  .info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}
.bar {
  fill: orange;
}

.bar:hover {
  fill: green;
}
>>>>>>> 5638ec32c52efbbd0b1546954d8397399ab92e61
