
body {
  margin: 0;
  background-image: url("../static/images/childlove.jpg") ;
  background-size: cover;
}

/* Style the header */
.header {
  background-color: #00b3b3
  rgb(0, 179, 179)
  hsl(180, 100%, 35%);
  padding: 20px;
  text-align: center;
  }
  
h1 {
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  }

h2 {
  font-family:Georgia, 'Times New Roman', Times, serif;
  margin-left: 30px;
  color: black
}

p {font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  color: black ;
  text-align: left;
  }

img{
  box-shadow: 10px 10px 5px black;
  }  

.btn {
  text-align: left;
  padding: 5px 38px;
  text-decoration: none;
  font-size: 18px;  
}