
body {
  margin: 0;
  background-image: url("../../images/childlove.jpg") ;
  background-size: cover;
}

/* Style the header */
.header {
  background-color: #f1f1f170;
  padding: 20px;
  text-align: center;
  }
  
h1 {
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 40px;
  text-align: center;
  }

h2 {
  font-family:Georgia, 'Times New Roman', Times, serif;
  margin-left: 40px;
  color: lightgrey
  }

p {font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 25px;
  color: rgb(241, 236, 236);
  text-align: center;
  }

img{
  box-shadow: 10px 10px 5px black;
  }  