<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Declining Birth Rates in United States</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Heebo|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="static/css/main.css">
    <link rel="stylesheet" href="static/js/main.js">
    {% block head%} {% endblock %}
</head>
<body>
    {% block body%} {% endblock %}
 <!-- Start of navbar -->
 <nav class="navbar navbar-expand-lg navbar navbar-dark bg-warning">
    <a class="navbar-brand " href="index.html">Births</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <h2>Plot</h2>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="race.html">Number of Births by Race</a>
            <a class="dropdown-item" href="state.html">Number of Births by State</a>
            <a class="dropdown-item" href="age.html">Birth Rath per 1,000 Women Ages 15-44</a>
            <a class="dropdown-item" href="total.html">Total Number of Births</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="data.html">
            <h2>Data </h2> <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="comparison.html">
            <h2>Comparison</h2>
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <!-- End of navbar -->   
</body>

</html>
