<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>Number of Births by State</title>

    <!-- Boostrap Stylesheet -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
      integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
      crossorigin="anonymous"
    />

    <!-- Our own CSS stylesheet -->
    <link rel="stylesheet" href="assets/css/style.css" media="screen" />
  </head>

  <body>
    <!-- Start of navbar -->
    <nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary">
      <a class="navbar-brand" href="index.html">Births</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <h2>Plot</h2>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="race.html">Births by Race</a>
              <a class="dropdown-item" href="state.html">Births by State</a>
              <!-- <a class="dropdown-item" href="age.html">Birth Rath per 1,000 Women Ages 15-44</a>
              <a class="dropdown-item" href="total.html">Total Number of Births</a> -->
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="data.html">
              <h2>Data</h2>
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about.html">
              <h2>About</h2>
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- End of navbar -->

    <!-- Start of container -->
    <div class="container">
      <section class="row">
        <div class="col-md-8">
          <article class="description-content">
            <h1 class="description-header">Births by State Dashboard</h1>
            <hr class="description-hr" />
            <img
              src="../Images/usa_color_map.png"
              alt=""
              class="img-responsive"
            />
            <p>
              This is where I write some information about the birt rates
              by state.  There will also be an accompanying visualization
              displayed to help tell the story.
            </p>
          </article>
        </div>

        <!-- Start of code for chart data -->

        <!-- <body>
          <div class="container">
            <div class="row">
              <div class="col-md-12 jumbotron text-center">
                <h1>Belly Button Biodiversity Dashboard</h1>
                <img
                src="static/Images/bacteria.jpg"
                class="img-fluid rounded mx-auto d-block"
                alt="bacteria"
                style="width: 600px; height: 400px"
              />
                <p>Use the interactive charts below to explore the dataset</p> -->
              </div>
            </div>
            <div class="row">
              <div class="col-md-2">
                <div class="well">
                  <h5>Select State:</h5>
                  <select 
                    id="selDataset" 
                    onchange="optionChanged(this.value)"
                   ></select>
                </div>
                <div class="panel panel-primary">
                  <div class="panel-heading">
                    <h3 class="panel-title">State Birth Info</h3>
                  </div>
                  <div id="sample-metadata" class="panel-body"></div>
                </div>
              </div>
              <div class="col-md-10">
                <div id="bar"></div>
              </div>
              <div class="col-md-10">
                <div id="gauge"></div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-24">
                <div id="bubble"></div>
              </div>
            </div>
          </div>




        <!-- Start of Visualizations imageNav Area -->
        <div class="col-md-4">
          <section id="imageNav-area">
            <div class="imageNav-content">
              <h2 class="imageNav-header">Visualizations</h2>
              <hr />
              <div id="images">
                <div class="row">
                  <div class="col-md-6">
                    <a href="temp.html"
                      ><img
                        src="assets/images/temp.png"
                        alt="Latitude vs. Max Temperature"
                        class="imageNav-photo img-thumbnail img-fluid"
                    /></a>
                  </div>
                  <div class="col-md-6">
                    <a href="state.html"
                      ><img
                        src="../Images/USA_Color_Map.jpg"
                        alt="Births by State"
                        class="imageNav-photo img-fluid"
                    /></a>
                  </div>
                </div>
                <!-- <div class="row">
                  <div class="col-md-6">
                    <a href="cloudiness.html"
                      ><img
                        src="assets/images/cloudiness.png"
                        alt="Latitude vs. Cloudiness"
                        class="imageNav-photo img-thumbnail"
                    /></a>
                  </div>
                  <div class="col-md-6">
                    <a href="wind.html"
                      ><img
                        src="assets/images/windspeed.png"
                        alt="Latitude vs. Wind Speed"
                        class="imageNav-photo img-thumbnail"
                    /></a> -->
                  </div>
                </div>
              </div>
            </div>
          </section>


          <!-- End of the Visualizations imageNav Area -->
        </div>
      </section>
    </div>
    <!-- End of container -->

    <!-- Start of footer -->
    <footer class="footer navbar-fixed-bottom">
      <div class="two-toned-footer-color"></div>
      <p class="text-muted text-muted-footer text-right">
        &copy; Copyright GA Tech Data Visualization Bootcamp 2020
      </p>
    </footer>
    <!-- End of footer -->





    <!-- jQuery CDN -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
      crossorigin="anonymous"
    ></script>
    <script src="../_static/static/js/app.js"></script>

  <!-- review, delete if necessary -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="./static/js/app.js"></script>


  </body>
</html>
